:root {
    --primary-text-color:#757575;
    --secondary-text-color:#212121;
    --white-color:#FFFFFF;
    --white-color-footer-link:rgba(255, 255, 255, 0.6);
    --black-color:#000000;
    --accent-color:#2196F3;
    --hero-footer-background-color:#2F303A;
    --secondary-background-color:#F5F4FA;
    --border-header-color:#ECECEC;
    --accent-color-focus:#188CE8;
    --cards-border-color:#EEEEEE;
    --hero-gradient: #c4c4c4;
    --icons-color-main: #afb1b8;
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
}